* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.navbar {
    padding: 0px 70px;
    width: 100%;
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    z-index: 10;
}

.navbar div {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .nav-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar a {
    color: #eee;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    padding: 5px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.navbar a:hover {
    background-color: rgb(135, 135, 135);
}

.navbar a i {
    font-size: 18px;
}

.navbar .nav-right img {
    width: 140px;
    height: 80%;
    padding: 5px;
}

.navbar .nav-right a i {
    margin: 0px 5px;
    font-size: 13px;
}

.navbar .nav-right a i.fa-bars {
    font-size: 20px;
}

main {
    min-height: 100vh;
    background-image: url("/photos/WhatsApp\ Image\ 2022-12-07\ at\ 10.04.31\ PM.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans Arabic', sans-serif;
    text-align: center;
    align-items: center;
}

main h3,
.servies h3 {
    font-size: 35px;
}

main p {
    font-size: 20px;
    margin: 20px 0px;
}

main .search {
    position: relative;
}

main input {
    width: 650px;
    height: 65px;
    padding: 5px 15px;
    border: none !important;
    outline: none !important;
    font-size: 20px;
}

main button {
    width: 80px;
    height: 80%;
    border: none !important;
    background-color: #4ead31;
    font-size: 13px;
    color: #eee;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);

}

.servies {
    min-height: 100vh;
    padding: 50px;
    width: 100%;
}

.servies h3 {
    text-align: center;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.servies .parent-servies {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.servies .parent-servies .service {
    width: 23%;
    height: 200px;
    display: flex;
    background-image: url("/photos/work.jpg");
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    margin: 20px auto;
    position: relative;
}

.servies .parent-servies .service-two {
    background-image: url("/photos/programing\ and\ development.jpg");
}

.servies .parent-servies .service-three {
    background-image: url("/photos/digital\ markiting.jpg");

}

.servies .parent-servies .service-four {
    background-image: url("/photos/Remote\ training.jpg");

}

.servies .parent-servies .service-five {
    background-image: url("/photos/video\ design.jpg");

}

.servies .parent-servies .service-sex {
    background-image: url("/photos/design.jpg");

}

.servies .parent-servies .service-seven {
    background-image: url("/photos/audio.jpg");

}

.servies .parent-servies .service-eight {
    background-image: url("/photos/translate.jpg");

}

.servies .parent-servies .service::after {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    content: "";
    position: absolute;
}

.servies .parent-servies .service p {
    font-size: 25px;
    color: #eee;
    font-family: 'Noto Sans Arabic', sans-serif;
    z-index: 2;
}

.all-services .itemh {
    display: flex;
    justify-content: space-around;
}

.all-services {
    width: 100%;
    padding: 50px 70px 100px;
    background-color: #eee;
}

.all-services .section-three-services {
    margin: 20px 0px;
    width: 100%;
}

.all-services .section-three-services .title {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.all-services .section-three-services .title a {
    padding: 0px 10px;
    font-size: 18px;
    text-decoration: none !important;
    border: 1px solid #4ead31;
    color: #4ead31;
    transition: .3s linear;
}

.all-services .section-three-services .title a:hover {
    background-color: #4ead31;
    color: #eee;
}

.all-services .section-three-services .title p {
    font-size: 20px;
    font-weight: bold;
}

.all-services .section-three-services .items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-services .section-three-services .items .item {
    width: 23%;
    margin: 20px auto;
    height: 330px;
}

.all-services .section-three-services .items .item img {
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.all-services .section-three-services .items .item a {
    text-decoration: none !important;
    color: black;
    font-size: 18px;
    margin-top: 30px;
}

.all-services .section-three-services .items .item a:hover {
    color: #4ead31;

}

.all-services .section-three-services .items .item p {
    font-size: 12px;
    color: #777777;
    font-family: 'Noto Sans Arabic', sans-serif;

}

.all-services .section-three-services .items .item i {
    color: #fa9747;
}

.all-services .section-three-services .items .item .price {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.all-services .section-three-services .items .item .price span {
    font-size: 18px;
}

.links {
    padding: 50px 70px 20px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links .parent {
    width: 25%;
}

.links .parent ul li {
    list-style-type: none !important;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.links .parent ul li i {
    font-size: 25px;
    background-color: #eee;
    padding: 0;
    color: gray;
}

.links .parent ul li .fa-facebook {
    color: #3b5998;
}

.links .parent ul li .fa-twitter {
    color: #55acee;
}

.links .parent ul li .brand {
    margin-top: 7px;
}

.links .parent ul li a {
    text-decoration: none;
    color: #52b035;
    font-size: 13px;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.w-33 {
    width: 33.33% !important;
}

.w-16 {
    width: 16.6% !important;
}

footer {
    width: 100%;
}

footer .footer-top {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans Arabic', sans-serif;
}

footer .footer-top span {
    font-size: 13px;
}

footer .footer-top a {
    text-decoration: none !important;
    color: #444;
    font-size: 14px;
    margin: 0px 10px;
}

footer .footer-bottom {
    width: 100%;
    padding: 50px 0px 0px;
}

footer .footer-bottom .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer .footer-bottom .footer-logo img {
    height: 36px;
}

.links-bottom {
    padding: 20px 200px;
    font-family: 'Noto Sans Arabic', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.links-bottom .item {
    padding: 12px 0px;
    width: 160px;
    box-sizing: border-box;
    margin: 10px;
}

.links-bottom .item h2 {
    font-size: 13px;
    line-height: 0;
}

.links-bottom .item a {
    text-decoration: none;
    color: #777;
    font-size: 10px;
    line-height: 0;
}